@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-BoldItalic.eot");
  src: local("../fonts/Gotham Pro Bold Italic"), local("GothamPro-BoldItalic"),
    url("../fonts/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-BoldItalic.woff") format("woff"),
    url("../fonts/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Italic.eot");
  src: local("../fonts/Gotham Pro Italic"), local("GothamPro-Italic"),
    url("../fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Italic.woff") format("woff"),
    url("../fonts/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"),
    url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Medium.woff") format("woff"),
    url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-BlackItalic.eot");
  src: local("../fonts/Gotham Pro Black Italic"), local("GothamPro-BlackItalic"),
    url("../fonts/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-BlackItalic.woff") format("woff"),
    url("../fonts/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("../fonts/Gotham Pro Bold"), local("GothamPro-Bold"),
    url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Bold.woff") format("woff"),
    url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Narrow";
  src: url("../fonts/GothamProNarrow-Bold.eot");
  src: local("../fonts/Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"),
    url("../fonts/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProNarrow-Bold.woff") format("woff"),
    url("../fonts/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Narrow";
  src: url("../fonts/GothamProNarrow-Medium.eot");
  src: local("../fonts/Gotham Pro Narrow Medium"),
    local("GothamProNarrow-Medium"),
    url("../fonts/GothamProNarrow-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GothamProNarrow-Medium.woff") format("woff"),
    url("../fonts/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-LightItalic.eot");
  src: local("../fonts/Gotham Pro Light Italic"), local("GothamPro-LightItalic"),
    url("../fonts/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-LightItalic.woff") format("woff"),
    url("../fonts/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"),
    url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Light.woff") format("woff"),
    url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Black.eot");
  src: local("../fonts/Gotham Pro Black"), local("GothamPro-Black"),
    url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Black.woff") format("woff"),
    url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.eot");
  src: local("../fonts/Gotham Pro"), local("GothamPro"),
    url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro.woff") format("woff"),
    url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-MediumItalic.eot");
  src: local("../fonts/Gotham Pro Medium Italic"),
    local("GothamPro-MediumItalic"),
    url("../fonts/GothamPro-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GothamPro-MediumItalic.woff") format("woff"),
    url("../fonts/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Иконки  */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?a2s5w5");
  src: url("../fonts/icomoon.eot?a2s5w5#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?a2s5w5") format("truetype"),
    url("../fonts/icomoon.woff?a2s5w5") format("woff"),
    url("../fonts/icomoon.svg?a2s5w5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-edit:before {
  content: "\e915";
}
.icon-clear:before {
  content: "\e914";
}
.icon-address:before {
  content: "\e900";
  color: #004e47;
}
.icon-arrow:before {
  content: "\e901";
}
.icon-bonus:before {
  content: "\e902";
}
.icon-card:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
  /* color: #fff; */
}
.icon-coffee:before {
  content: "\e906";
  color: #fff;
}
.icon-facebook:before {
  content: "\e907";
  color: #fff;
}
.icon-instagram:before {
  content: "\e908";
  color: #fff;
}
.icon-main-cart:before {
  content: "\e909";
}
.icon-monets:before {
  content: "\e90a";
}
.icon-money:before {
  content: "\e90b";
  color: #004e47;
}
.icon-password:before {
  content: "\e90c";
}
.icon-repost:before {
  content: "\e90d";
  color: #004e47;
}
.icon-signup:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
  color: #004e47;
}
.icon-vk:before {
  content: "\e910";
  color: #fff;
}
.icon-telephone:before {
  content: "\e905";
}
.icon-left:before {
  content: "\e911";
}
.icon-right:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
  color: #004e47;
}

/* Переменные */
:root {
  --yellow-bg: #f4f2dd;
  --green-bg: #004e47;
  --black-bg: #0c0b0c;
  --text-descr: 17px;
  --text-title: 22px;
  --text-cost: 24px;
  --text-h1: 72px;
  --text-h2: 32px;
  --btn-green-hover: #023f3a;
  --btn-yellow-hover: #e2e0ca;
}

/* Стандартные стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: var(--text-descr);
  font-family: "Gotham Pro", sans-serif;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}
.container-header {
  max-width: 1588px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #101417;
  font-size: 15px;
}
li,
ul {
  list-style: none;
}

/* Используемые классы */
.btn {
  background: var(--green-bg);
  border-radius: 10px;
  color: #fff;
  font-size: var(--text-descr);
  padding: 10px 20px;
  white-space: nowrap;
  transition: 0.15s ease-in all;
}
.btn:hover {
  background: var(--btn-green-hover);
}
.btn-yellow {
  background: var(--yellow-bg);
  color: #004e47;
}
.btn-yellow:hover {
  background: var(--btn-yellow-hover);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.title {
  font-size: var(--text-h2);
  color: #000;
  font-weight: bold;
}
.mobile-hide {
  display: none;
}
.link {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #004e47;
  display: block;
  justify-content: center;
}
.link i {
  margin-left: 10px;
  font-size: 10px;
  display: inline-block;
  transition: 0.25s ease-in-out all;
  white-space: nowrap;
}
.link:hover i {
  transform: rotate(180deg);
}
.mobile-list {
  display: none;
}
.mobile {
  display: none;
}

/* Навбар  */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav {
  padding: 20px 0 9px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #f2f2f2;
}
.nav__menu {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  width: 85px;
}
.logo img {
  max-width: 100%;
}
.nav__menu-item {
  margin-right: 10px;
}
.nav__menu-link {
  padding: 20px 15px;
}
.nav__menu-link:hover {
  background: var(--yellow-bg);
  border-radius: 10px;
}
.nav__menu-item:last-child {
  margin-right: 0;
}
.btn-nav {
  padding: 15px 30px;
}
.sign-up .icon-signup {
  font-size: 18px;
}
/* Бургер  */
.burger {
  width: 128px;
}
.burger-bg {
  background: var(--yellow-bg);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 128px;
  height: 100%;
  cursor: pointer;
}
.additional-burger {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 21px;
  cursor: pointer;
}
.additional-burger div {
  align-self: flex-end;
  height: 2.5px;
  border-radius: 1.3px;
  /* width: 100%; */
  background: #3e4651;
}
.top-bun {
  width: 100%;
}
.meat {
  width: 75%;
  transition: all 200ms ease-in-out;
}
.bottom-bun {
  width: 50%;
  transition: all 400ms ease-in-out;
}
.burger-bg:hover .additional-burger div {
  width: 100%;
}
.burger-bg:hover .additional-burger .top-bun {
  animation: burger-hover 1s infinite ease-in-out alternate;
}
.burger-bg:hover .additional-burger .meat {
  animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
}
.burger-bg:hover .additional-burger .bottom-bun {
  animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
}

@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
/* Шапка зареганного пользователя  */
.header-user {
  display: flex;
  align-items: center;
}
.cart-user {
  margin-right: 25px;
  position: relative;
}
.cart-user span {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--green-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 8px;
  /* font-weight: 900; */
  right: -7px;
  top: -2px;
}
.cart-user i {
  font-size: 25px;
}
.user img {
  max-width: 46px;
  border-radius: 50%;
}
/* Главный баннер */
.main {
  padding-top: 150px;
  padding-bottom: 500px;
  /* background: url(../img/main-bg.jpg) center center/cover no-repeat; */
  position: relative;
  overflow: hidden;
}
.main-title {
  font-size: var(--text-h1);
  font-weight: 900;
  line-height: 100px;
  color: #fff;
  max-width: 1000px;
}
.main-title span {
  color: var(--yellow-bg);
}
.main-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: flex; */
  /* align-items: flex-end; */
  /* justify-content: space-between; */
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
/* .in-catalog {
  display: flex;
  flex-direction: column;
} */
.progress-slider {
  width: 100%;
  background: var(--yellow-bg);
  height: 191px;
  border-radius: 0px 10px 10px 0px;
}
.bottom-first-content {
  display: flex;
  flex-direction: column;
}
.bottom-title {
  color: #ffffff;
  font-size: 24px;
  line-height: 17px;
  margin-bottom: 30px;
  font-weight: 400;
}
.big-btn {
  padding: 50px 60px;
  width: 100%;
}
.main-grid {
  gap: 60px;
}
.bottom-descr {
  color: #fff;
  font-size: var(--text-descr);
  font-weight: 300;
  line-height: 24px;
  max-width: 465px;
}
.bottom-banner {
  width: 457px;
  height: 100%;
}
.bottom-banner img {
  width: 100%;
  height: 100%;
}
/* Категории  */
.category {
  padding-top: 80px;
  padding-bottom: 40px;
}
.category-top {
  display: flex;
  align-items: flex-end;
}
.category-arrows {
  display: flex;
  margin-left: 30px;
}
.category-arrows div {
  background: var(--yellow-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #25242b;
  padding: 10px 12px;
  max-height: 30px;
  cursor: pointer;
  transition: 0.15s ease-in-out all;
}
.category-arrows div:hover {
  background: var(--btn-yellow-hover);
}
.arrow-left {
  margin-right: 3px;
}
.category-grid {
  margin-top: 50px;
  gap: 30px;
}
.category-content {
  padding: 50px 56px;
}
.category-grid .category-item:first-child {
  grid-row: 1/3;
  background: url(../img/coffee-block.png) center center/contain no-repeat;
  padding-top: 300px;
  padding-bottom: 50px;
}
.category-grid .category-item:nth-child(2),
.category-grid .category-item:nth-child(3) {
  background-color: var(--yellow-bg);
  width: 670px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.category-subtitle {
  font-size: 15px;
  color: #969696;
}
.category-title {
  color: #353535;
  margin-top: 25px;
  font-weight: bold;
  /* font-size: var(--text-descr); */
}
.category-descr {
  font-size: var(--text-descr);
  margin-top: 15px;
  color: #353535;
  line-height: 25px;
  max-width: 340px;
}
.category-catalog {
  font-size: var(--text-descr);
  color: var(--green-bg);
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 25px;
  display: block;
}
.category-catalog:hover {
  opacity: 0.7;
}
/* Новинки  */
.new-items {
  padding-top: 54px;
  padding-bottom: 100px;
}
.new-items .container {
  overflow: initial;
}
.new-items_top {
  display: flex;
  justify-content: space-between;
}
.tabs {
  display: flex;
  font-size: 13px;
  cursor: pointer;
  color: #2b2835;
}
.tab {
  padding: 11px 25px;
  border-radius: 10px;
  margin-right: 8px;
  transition: 0.15s ease-in-out all;
}
.tab.active {
  background: var(--green-bg);
  color: #fff;
}
/* .tab-content {
  display: none;
} */
.tab:last-child {
  margin-right: 0;
}
.tab:hover {
  background: var(--green-bg);
  color: #fff;
}
.new-items_grid {
  margin-top: 55px;
  gap: 30px;
}
.card-item {
  padding-top: 30px;
  transition: 0.25s ease-in all;
  border-radius: 10px;
}
.card-item:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.1);
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.06));
}
.card-item_content {
  padding-left: 10px;
}
.card-item_img {
  max-width: 246px;
  object-fit: contain;
}
.card-item_name {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 25px;
}
.card-item span {
  font-size: 12px;
  color: rgba(3, 3, 3, 0.5);
  margin-top: 15px;
  display: block;
}
.ingredients {
  margin-top: 11px;
}
.ingredients p {
  color: #030303;
  font-size: 12px;
  margin-top: 5px;
}
.card-item_cost {
  margin-top: 14px;
}
.card-item_cost p {
  margin-top: 10px;
  font-size: var(--text-cost);
  color: #004e47;
  font-weight: 300;
}
.card-item_buttons {
  display: flex;
  align-items: center;
}
.card-item_buttons {
  margin-top: 20px;
}
.card-btn {
  font-size: 12px;
  padding: 20px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-btn i {
  margin-right: 10px;
  font-size: 17px;
}
.btn-ingredients {
  font-size: 12px;
  color: #fff;
  text-transform: none;
  /* max-width: 176px; */
  display: inline-block;
  margin-top: 15px;
}
.full-ingredients {
  background: var(--yellow-bg);
  padding: 10px;
  max-width: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-ingredients ul li {
  list-style-type: decimal;
  font-size: 13px;
}
/* Клуб  */
.club {
  padding-top: 110px;
  padding-bottom: 95px;
  background: url(../img/club.jpg) center center/contain no-repeat;
}
.club-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.club-title {
  font-size: 36px;
  font-weight: 900;
  color: #fff;
}
.club p {
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  margin-top: 25px;
  font-weight: 300;
  max-width: 500px;
  text-align: center;
}
.club h3 {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin-top: 25px;
  text-align: center;
  line-height: 36px;
}
.club-btn {
  border-radius: 2px;
  padding: 16px 54px;
  margin-top: 40px;
}
/* Кейтеринг */
.catering {
  padding-top: 97px;
  padding-bottom: 60px;
}
.catering-grid {
  margin-top: 50px;
}
.photo_date {
  max-width: 500px;
}
.main-event {
  max-width: 500px;
  position: relative;
}
.main-event img {
  width: 100%;
}
.additional-event {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.additional-event img {
  max-width: 140px;
  object-fit: contain;
  border: 3px solid #ffffff;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.additional-event img:last-child {
  margin-right: 0;
}
.event-date {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.date-subtitle {
  font-size: 14px;
}
.event-numbber h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--green-bg);
  margin-top: 17px;
  display: flex;
  align-items: center;
}
.event-numbber h3 span {
  font-size: 14px;
  margin-left: 9px;
}
.event-content-title {
  font-weight: bold;
  font-size: var(--text-title);
  line-height: 38px;
  color: #000;
  text-transform: uppercase;
}
.event-content-subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  font-weight: 400;
  margin-top: 25px;
}
.event-content-descr {
  font-weight: 400;
  font-size: 15px;
  color: #5e5d6c;
  line-height: 25px;
  margin-top: 30px;
}
.event-content-more {
  display: block;
  margin-top: 36px;
  font-size: 14px;
  color: #004e47;
  text-transform: uppercase;
  position: relative;
}
.event-content-more i {
  font-size: 10px;
  margin-left: 10px;
}
.event-content-more::before {
  content: "";
  position: absolute;
  height: 76px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 60.87%
  );
  top: -6.5rem;
  width: 100%;
  pointer-events: none;
}
.articles_grid {
  margin-top: 60px;
  gap: 25px;
}
.article img {
  max-width: 370px;
  object-fit: contain;
  border-radius: 4px;
}
.article-img_info {
  position: relative;
}
.article-date {
  position: absolute;
  top: 17px;
  left: 17px;
  background: #f4f2dd;
  border-radius: 10px;
  color: #545454;
  font-size: 12px;
  padding: 7px 14px;
}
.article-name {
  font-size: var(--text-title);
  margin-top: 25px;
  color: #474747;
  line-height: 35px;
}
.article-descr {
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  margin-top: 20px;
}
.article-link {
  margin-top: 27px;
}
/* Акции  */
.promo {
  padding-top: 100px;
  padding-bottom: 100px;
}
.promo-block img {
  max-width: 370px;
  object-fit: contain;
}
.promo-grid {
  gap: 31px;
  align-items: flex-start;
}
.promo-grid .promo-block:first-child {
  margin-top: 140px;
}
.promo-grid .promo-block:nth-child(2) {
  margin-top: 52px;
}
.promo-grid .promo-block:nth-child(3) {
  margin-top: -35px;
}
.promo-name {
  font-size: var(--text-title);
  margin-top: 33px;
  font-weight: bold;
  color: #000;
}
.promo-descr {
  font-weight: 400;
  color: #2e2e2e;
  margin-top: 25px;
  line-height: 25px;
}
.promo-link {
  margin-top: 25px;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.pagination-main {
  justify-content: flex-end;
}
.pagination-catalog {
  justify-content: center;
  margin-top: 73px;
}
.pagination-count {
  color: #39374d;
  font-size: 16px;
  font-weight: normal;
  background: #ebebf4;
  border-radius: 6px;
  cursor: pointer;
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  transition: 0.15s ease-in-out;
}
.pagination-count.disabled {
  pointer-events: none;
}
.pagination-count.circle {
  border-radius: 50%;
}
.pagination-count:hover {
  background: #004e47;
  color: #ffffff;
  font-weight: 900;
}
.pagination-count.active {
  background: #004e47;
  color: #ffffff;
  font-weight: 900;
}
/* О нашей компании */
.company {
  padding-top: 100px;
  padding-bottom: 125px;
  background-color: var(--yellow-bg);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.company::before {
  content: "";
  background: url("../img/logo-bg.svg") left center/contain no-repeat;
  width: 612px;
  height: 612px;
  position: absolute;
  left: 0;
  bottom: -5rem;
  z-index: -1;
}
.company-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  max-width: 260px;
}
.company-title span {
  color: var(--green-bg);
}
.company-grid {
  gap: 40px;
  align-items: flex-start;
}
.btn-company {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  border-radius: 4px;
  padding: 20px 55px;
  letter-spacing: 3px;
  margin-top: 35px;
}
.company-block p {
  font-size: var(--text-descr);
  color: #2e2e2e;
  line-height: 31px;
}
.company-block p:first-child {
  margin-bottom: 35px;
}
/* Футер  */
.footer {
  padding-top: 100px;
  background: var(--black-bg);
}
.footer-grid {
  gap: 35px;
}
.logo-white {
  max-width: 167px;
  object-fit: contain;
}
.footer-title {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-text {
  margin-top: 30px;
}
.footer-text p,
.footer-text a {
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 25px;
  display: block;
}
.footer-text p:last-child {
  margin-bottom: 0;
}
.footer-text a {
  display: inline-block;
}

.footer-text a:after {
  background-color: #fff;
  display: block;
  content: "";
  height: 1.3px;
  width: 0%;
  transition: width 0.3s ease-in-out;
}
.footer-text a:hover:after,
.footer-text a:focus:after {
  width: 100%;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social div {
  background: #597da3;
  border-radius: 5px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 38px;
  padding-left: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  cursor: pointer;
}
.footer-social div:nth-child(2) {
  background: #1977f3;
}
.footer-social div:nth-child(3) {
  background: radial-gradient(
    100.56% 100.56% at -6.92% 97.5%,
    #6a59c0 45.31%,
    #c837ab 100%
  );
}
.footer-social div:last-child {
  margin-right: 0;
}
.footer-social div span {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin-top: 30px;
}
.footer-social div i {
  font-size: 37px;
}
.footer-social div p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-top: 30px;
}
.footer-social div:hover {
  opacity: 0.9;
}
.footer-info {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  line-height: 25px;
  font-weight: 300;
}
.footer-bottom {
  background: var(--green-bg);
  padding: 22px 0;
  margin-top: 60px;
  opacity: 0.5;
}
.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom p,
.policy {
  color: #fff;
  font-size: 15px;
  /* opacity: 0.5; */
}
.policy:hover {
  opacity: 0.8;
}
/* Всплывающее меню  */
.burger-bg:hover .popup-menu {
  opacity: 1;
  visibility: visible;
}
.popup-menu {
  position: absolute;
  left: 0;
  background: #ffffff !important;
  width: initial !important;
  height: initial !important;
  padding: 30px 40px;
  cursor: initial !important;
  top: 7.3rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s linear all;
}
.popup-grid {
  gap: 60px;
  background: none !important;
  align-items: flex-start !important;
  height: initial !important;
  align-self: initial !important;
}
.popup-block {
  background: none !important;
  align-self: initial !important;
  height: initial !important;
  border-radius: initial !important;
}
.popup-block a,
/* .popup-block, */
summary {
  color: #222;
  font-size: 13px;
  font-weight: normal;
  /* margin-top: 30px; */
  display: block;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 10px;
  margin-top: 8px;
  transition: 0.15s linear all;
}
.popup-block a:hover,
popup-block:hover,
summary:hover {
  background: rgba(229 214 214 / 30%);
  border-radius: 3px;
}
.btn-ingredients:hover {
  border-radius: 10px;
  /* background: initial; */
}
.popup-grid .popup-block li:first-child a:first-child {
  margin-top: 0;
}
.popup-grid .popup-block details li:first-child a:first-child {
  margin-top: 10px;
}
summary {
  display: block;
}
::-webkit-details-marker {
  display: none;
}
details {
  cursor: pointer;
}
details a {
  color: #656565 !important;
  font-size: 13px !important;
  text-transform: initial !important;
}
.popup-block img {
  max-width: 290px;
  object-fit: contain;
}
.popup-block h3 {
  color: #222222;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  margin-top: 14px;
}
.popup-block p {
  color: #656565;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  margin-top: 7px;
}
.popup-menu details[open] summary {
  background: rgba(229 214 214 / 30%);
  border-radius: 3px;
}
.popup-menu details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
    min-height: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    min-height: 1000%;
  }
}
/* Слайдер  */
.slides {
  top: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}
.swiper-container {
  width: 1920px;
  height: 950px;
}
.slides {
  overflow: hidden;
}
/* Счетчик и прогресс бар */
.progress-slider {
  display: flex;
  padding: 45px 55px;
  justify-content: space-between;
  align-items: center;
}
.current-slide,
.total-slides {
  font-weight: 900;
  color: #101417;
  font-size: 25px;
}
.current-slide {
  margin-right: 10px;
}
.total-slides {
  margin-left: 10px;
}
.progress-slider .swiper-pagination-progressbar {
  position: initial;
  /* opacity: 0.2; */
  background: #10141733;
  height: 4px;
  width: 100%;
  mix-blend-mode: normal;
  max-width: 100%;
}
.progress-slider .swiper-pagination-progressbar-fill {
  background: #101417;
}

/* Модалки  */

.swal2-confirm.confirm-button {
  background-color: #004e47;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 30px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swal2-title.modal-title {
  /* font-family: "Gotham Pro", sans-serif; */
  font-weight: 300;
  font-size: 28px;
  color: #000;
  text-align: left;
}
.input-title {
  color: #151522;
  font-size: 15px;
}
.login-title {
  margin-top: 20px;
}
.swal2-popup,
.swal2-popup a {
  font-family: "Gotham Pro", sans-serif;
}
.modal-input {
  background: #f4f2dd;
  border-radius: 5px;
  padding: 16px 25px;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 15px;
}
.login-form {
  padding: 0 20px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.swal2-popup.login-container {
  max-width: 430px;
}
.swal2-styled.swal2-confirm.confirm-button {
  background: #004e47;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  outline: none;
  box-shadow: none !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-bottom {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal-or {
  color: #999999;
  font-size: 12px;
}
.modal-bottom a {
  color: #017cc4;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 16px;
  font-weight: 400;
}
.modal-subtitle {
  color: #999999;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  line-height: 22px;
  display: flex;
  max-width: 250px;
}
.formFillForm {
  display: flex;
  flex-direction: column;
}
.btn-fillForm {
  width: 100% !important;
  margin-top: 30px;
}
/* .login-form div:not(.modal-bottom) {
  position: relative;
  width: 100%;
}
.register-form label {
  position: absolute;
  top: 30px;
  left: 19px;
  transition: 0.35s ease-in-out all;
}
.register-form input:focus + label {
  top: -8px;
}
.register-form input {
  margin-top: 35px;
  transition: 0.5s linear all;
}
.register-form input:invalid + label {
  top: -8px;
} */
.register-form input {
  transition: 0.5s linear all;
}
.register-form input:valid {
  background: #ddf4de;
}
.select {
  position: relative;
  margin-top: 20px;
}
.dropdown {
  width: 100%;
  background: var(--yellow-bg);
  border-radius: 5px;
  color: #1e2b3e;
  font-weight: 300;
  font-size: 13px;
  padding: 15px 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.select.active .dropdown-list {
  opacity: 1;
  visibility: visible;
}
.dropdown-list {
  background: var(--yellow-bg);
  border-radius: 5px;
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear all;
  width: 100%;
  z-index: 10;
}
.dropdown-list_item {
  padding: 1rem;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
}
.dropdown-list_item:hover {
  background: var(--btn-yellow-hover);
}
.dropdown-list_item.active {
  background: var(--btn-yellow-hover);
}
.dropdown i {
  font-size: 10px;
  color: #000;
  opacity: 54%;
}
.select i {
  transition: 0.15s ease-in all;
}
.select.active i {
  transform: rotate(90deg);
}
.swal2-html-container::-webkit-scrollbar {
  display: none;
}

/* Модалка быстрой покупки  */
.modal-text-counts {
  margin-top: 28px;
  font-weight: 300;
  font-size: 15px;
  color: #151522;
  text-align: left;
}
.count-control {
  margin-top: 10px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}
.btn-count-modal {
  border-radius: 5px;
  color: #000;
  font-size: 24px;
  padding: 16px 25px;
  max-width: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 57px;
}
.minus {
  margin-right: 25px;
}
.total-modal {
  color: #333333;
  font-size: 24px;
  position: absolute;
  left: 4.3rem;
}
.plus {
  color: #fff;
  margin-left: 25px;
}

/* Страница каталога  */
.catalog {
  padding-top: 80px;
  padding-bottom: 103px;
  background: #fff;
}
.catalog h1 {
  font-size: 60px;
}
.breadcrumbs {
  display: flex;
  margin-top: 23px;
}
.breadcrumb-item {
  color: var(--green-bg);
  font-size: 15px;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  margin-right: 10px;
}
.breadcrumbs span {
  font-size: 15px;
  color: #c9c9c9;
  margin-right: 10px;
}
.page-here {
  font-size: 15px;
  color: #c9c9c9;
}
.sort {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */
  align-items: center;
}
.sort span {
  margin-right: 19px;
}

.sort-select {
  position: relative;
}
.sort-dropdown {
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 2px;
  color: #474747;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 11px 15px;
  width: 156px;
}
.sort-dropdown.active + .sort-dropdown_list {
  opacity: 1;
  visibility: visible;
}
.sort-dropdown.active i {
  transform: rotate(90deg);
}
.sort-dropdown i {
  transform: rotate(-90deg);
  transition: 0.25s ease-in all;
}
.sort-dropdown_list {
  background: #ebebeb;
  border-radius: 2px;
  color: #474747;
  font-size: 10px;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.2s linear all;
  opacity: 0;
  visibility: hidden;
}
.select-catalog {
  padding: 1rem;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
  transition: 0.25s linear all;
}
.select-catalog:hover {
  background: #ddd;
}
.select-catalog.active {
  background: #ddd;
}
/* Чекбоксы  */
.catalog input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.catalog input[type="checkbox"]:checked + label,
.catalog input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.catalog input[type="checkbox"]:checked + label:before,
.catalog input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 17px;
  height: 17px;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
}
.catalog input[type="checkbox"]:checked + label:before,
.catalog input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}
.catalog input[type="checkbox"]:checked + label:after,
.catalog input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}
.catalog input[type="checkbox"]:checked + label:after,
.catalog input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid var(--green-bg);
  border-bottom: 4px solid var(--green-bg);
  transform: rotate(-45deg);
}
.catalog input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

.catalog input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/* Радио кнопки  */
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--green-bg);
}
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="radio"]:checked + label:after {
  opacity: 1;
}
.catalog-content {
  align-items: flex-start;
  margin-top: 56px;
  gap: 15px;
}
.filter-items_grid {
  grid-column: 4;
  gap: 30px;
}
.filter {
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 36px;
  padding-bottom: 25px;
  padding-left: 19px;
  padding-right: 23px;
}
.filter-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter h2 {
  color: #353535;
  font-size: 18px;
  font-weight: bold;
}
.filter-btn {
  border-radius: 2px;
  padding: 9px 18px;
  font-size: 10px;
  font-weight: normal;
  cursor: pointer;
}
.section-filter h3 {
  color: #000000;
  font-size: 14px;
  margin-top: 30px;
  font-weight: normal;
  padding-bottom: 14px;
  position: relative;
  margin-bottom: 15px;
}
.section-filter h3::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #eaeaea;
  position: absolute;
  display: block;
  bottom: 0;
}
.filter-categories {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  font-size: 12px;
  color: #004e47;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.tag {
  color: #626262;
  font-size: 10px;
  font-weight: 300;
  padding: 7px 15px;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
}
.tag:hover {
  background: var(--green-bg);
  color: #fff;
  font-weight: 400;
}
.tag:nth-child(8n + 8) {
  padding: 7px 26px;
}
.filter-banner {
  width: 217px;
  margin-top: 40px;
}
.filter-banner img {
  max-width: 100%;
}
/* Страница карточки  */
.card-page {
  padding-top: 80px;
  padding-bottom: 100px;
}
.card-page .container {
  overflow: initial;
}
.card-page h1 {
  font-size: 55px;
}
.card-page_grid {
  margin-top: 60px;
  gap: 65px;
  align-items: flex-start;
}
.card-page_mainPhoto {
  max-width: 550px;
}
.card-page_mainPhoto img {
  width: 100%;
}
.card-page_additional-photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}
.card-page_additional-photo {
  max-width: 127px;
  /* border: 1px solid #4ab232; */
  border-radius: 6px;
  cursor: pointer;
}
.card-page_additional-photo img {
  width: 100%;
}
.card-page_info h2 {
  line-height: 40px;
  max-width: 450px;
}
.card-page_check {
  margin-top: 25px;
  color: var(--green-bg);
  font-size: 15px;
  display: flex;
  align-items: center;
}
.card-page_check i {
  margin-right: 10px;
  font-size: 13px;
}
.card-page_cost {
  font-size: 48px;
  color: #3b3b3b;
  font-weight: bold;
  margin-top: 20px;
}
.card-page_cost span {
  font-size: 38px;
}
.card-page_description {
  margin-top: 30px;
}
.card-page_description span {
  color: #b4b4b4;
  font-weight: bold;
  font-size: 16px;
}
.card-page_description p {
  color: #3c3c3c;
  margin-top: 13px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.card-page_ingredients {
  margin-top: 30px;
}
.card-page_ingredients span {
  color: #b4b4b4;
  font-weight: bold;
  font-size: 16px;
}
.card-page_ingredients p {
  color: #030303;
  font-size: 15px;
  margin-top: 13px;
}
.card-page_counts {
  margin-top: 33px;
}
.card-page_buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.btn-card_page {
  font-size: 15px;
  padding: 18px 66px;
  text-align: center;
  max-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-card_page i {
  font-size: 20px;
  margin-right: 17px;
}
.btn-buy {
  margin-right: 24px;
}
.btn-order {
  margin-top: 15px;
}
.btn-order i {
  font-size: 17px;
}
.similar {
  margin-top: 120px;
  position: relative;
}
.similar::before {
  content: "";
  background: #e5e5e5;
  width: 100%;
  height: 1px;
  position: absolute;
  top: -60px;
}
.similar-grid {
  gap: 30px;
  padding-bottom: 50px;
}
/* Страница акции  */
.promo-page {
  padding-top: 80px;
  padding-bottom: 160px;
}
.promo-page_timer {
  background: url("../img/promo-page.jpg") center center/cover no-repeat;
  padding-top: 113px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.promo-page_timer h2 {
  font-size: 70px;
  color: #fff;
  font-weight: 900;
}
.timer {
  margin-top: 40px;
  display: flex;
  /* max-width: 590px; */
  justify-content: space-between;
  align-items: center;
}
.timer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 25px;
}
.timer p {
  color: var(--yellow-bg);
  font-size: 70px;
  font-weight: 900;
}
.timer span {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  margin-top: 25px;
  text-transform: uppercase;
  align-self: flex-start;
}
.timer p::after {
  content: ":";
  color: var(--yellow-bg);
  font-size: 70px;
  font-weight: 900;
  margin-left: 20px;
}
.seconds-count:after {
  content: "";
  display: none;
}
.awards {
  padding-top: 118px;
  position: relative;
}
.awards-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.awards-info {
  padding-top: 58px;
  padding-bottom: 54px;
  background: var(--yellow-bg);
  padding-right: 50px;
  padding-left: 50px;
  position: absolute;
  bottom: 5rem;
  right: 0;
  max-width: 460px;
}
.awards-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.awards-top p {
  color: #2b2b2b;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.5;
}
.awards-top span {
  color: #151515;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.5;
}
.awards-content {
  margin-top: 31px;
}
.awards-content h3 {
  font-weight: bold;
  color: #2b2b2b;
  font-size: 28px;
}
.awards-content p {
  margin-top: 19px;
  color: #2b2b2b;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  max-width: 450px;
}
.awards-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.awards-user {
  margin-right: 50px;
}
.awards-user:last-child {
  margin-right: 0;
}
.awards-users img {
  max-width: 91px;
}
.awards-users p {
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  max-width: 94px;
  line-height: 25px;
  margin-top: 10px;
}
.awards-btn {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
}
/* Корзина  */
.cart {
  padding-top: 80px;
  padding-bottom: 100px;
}
.cart h1 {
  font-size: 60px;
}
.cart-counts {
  margin-top: 60px;
  font-size: 20px;
}
.cart-counts span {
  font-weight: bold;
  color: var(--green-bg);
  font-size: 24px;
  margin-right: 7px;
}
.cart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 38px;
  color: #b4b4b4;
  font-weight: bold;
  font-size: 20px;
}
.cart-top div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 349px;
}
.cart-top::after {
  content: "";
  width: 100%;
  background: #e5e5e5;
  height: 1.5px;
  position: absolute;
  bottom: -22px;
}
.cart-items {
  margin-top: 60px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.cart-item::after {
  content: "";
  width: 100%;
  background: #e5e5e5;
  height: 1.5px;
  position: absolute;
  bottom: -22px;
}
.cart-item_info {
  display: flex;
  /* align-items: center; */
}
.cart-count-control {
  display: flex;
  justify-content: space-between;
  width: 355px;
  align-items: center;
}
.cart-item_info img {
  max-width: 150px;
  border-radius: 15px;
}
.cart-item_info-text {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item_info-text h3 {
  color: #2e2e2e;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  max-width: 380px;
}
.cart-item_info-text span {
  /* margin-top: 15px; */
  color: #2e2e2e;
  font-weight: 300;
  font-size: 16px;
}
.cart-item_delete {
  color: #a6a6a6 !important;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  /* align-items: center; */
  /* margin-top: 24px; */
  cursor: pointer;
}
.cart-item_delete i {
  color: gray;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  transition: 0.25s ease-in all;
}
.cart-item_delete:hover i {
  color: #f62f5e;
}
.cart-item {
  margin-top: 40px;
}
.cart-item:last-child {
  /* margin-top: 0; */
}
.cart-total {
  margin-top: 80px;
  max-width: 627px;
}
.cart-total div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-total_main {
  font-weight: bold;
  font-size: 36px;
  color: var(--green-bg);
}
.cart-total div:nth-child(2) {
  margin-top: 40px;
  color: #7b7b7b;
  font-size: 24px;
}
.cart-total div:nth-child(2) p:nth-child(2) {
  font-weight: bold;
  font-size: 36px;
}
.cart-total_right {
  align-items: center;
  justify-content: space-between !important;
  margin-top: 39px;
  font-size: 30px;
  font-weight: bold;
  color: var(--green-bg);
}
.cashback {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cashback_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px !important;
}
.cashback input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.cashback label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
.cashback label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.cashback input:checked + label {
  background: var(--green-bg);
}
.cashback input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}
.cashback label:active:after {
  width: 26px;
}
.cashback_bottom p {
  font-size: 18px;
  margin-right: 25px;
}
.cart-total_delivery {
  display: flex;
  color: #7b7b7b;
  font-size: 24px;
  margin-top: 47px;
}
.cart-total_delivery p:nth-child(2) {
  font-weight: bold;
  font-size: 36px;
}
.cart-total_bottom {
  margin-top: 35px;
  color: var(--green-bg);
  font-size: 36px;
  font-weight: bold;
}
.cart-total_buttons {
  margin-top: 69px;
  display: flex;
  align-items: center;
}
.cart-total_btn {
  font-size: 17px;
  font-weight: normal;
  padding: 17px 46px;
  border-radius: 6px;
  margin-right: 30px;
}
.btn-outline {
  color: #656565;
  font-size: 17px;
  font-weight: normal;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  background: transparent;
}
.btn-outline:hover {
  color: #fff;
  background: var(--green-bg);
}
.cart-contacts {
  margin-top: 73px;
}
.cart-contacts p {
  color: #000000;
  font-size: 24px;
}
.cart-contacts-form {
  margin-top: 45px;
}
.contacts-input {
  background: transparent;
  font-size: 15px;
  color: #000;
  border: none;
  outline: none;
  padding: 10px;
  padding-bottom: 14px;
  position: relative;
}
.cart-contacts_inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.contacts-input {
  flex: 0 1 45%;
  margin-right: 20px;
  border-bottom: 1px solid rgba(2, 2, 2, 0.22);
  margin-bottom: 25px;
}
.toggles {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.delivery_form {
  margin-top: 70px;
}
.delivery-forms_inputs {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn-contacts {
  font-size: 17px;
  font-weight: normal;
  border-radius: 6px;
  padding: 15px 60px;
  margin-top: 10px;
}
.delivery-forms_inputs .contacts-input {
  flex: 0 1 30%;
}
.delivery-forms_inputs .contacts-input:last-child {
  flex: 0 1 100%;
}

.cabinet-page {
  padding-top: 80px;
  padding-bottom: 100px;
}
.cabinet-page h1 {
  font-size: 60px;
}
.cabinet-grid {
  justify-content: flex-start;
  margin-top: 70px;
  align-items: flex-start;
}
.cabinet-content {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 70px;
}
.cabinet-tabs {
  background: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 20px; */
}
.cabinet-position {
  position: sticky;
  top: 11rem;
}
.cabinet-page .container {
  overflow: initial;
}
.cabinet-tab {
  padding: 32px 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in all;
  /* border-bottom: 1px solid #f4f2dd; */
  position: relative;
}
.cabinet-tab p {
  pointer-events: none;
}
.cabinet-tab:last-child {
  border-bottom: none;
}
.cabinet-tab::after {
  content: "";
  width: 80%;
  background: #f4f2dd;
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 8%;
}
.cabinet-tab:last-child:after {
  display: none;
}
.cabinet-tab:hover {
  background: var(--yellow-bg);
  color: var(--green-bg);
}
.cabinet-tab.active {
  background: var(--yellow-bg);
  color: var(--green-bg);
}
.cabinet-tab i {
  margin-right: 22px;
  font-size: 23px;
}
.cabinet-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cabinet-details span {
  color: #000000;
  font-size: 24px;
}
.cabinet-details img {
  max-width: 230px;
  object-fit: contain;
  border-radius: 12px;
  margin-top: 30px;
}
.cabinet-form {
  margin-top: 45px;
}
.cabinet-form form {
  display: flex;
  flex-direction: column;
  /* justify-content: fl; */
  /* align-items: flex-start; */
}
.cabinet-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  outline: none;
  padding: 14px 10px;
  margin-bottom: 30px;
  color: #000;
  font-size: 15px;
}
.btn-cabinet {
  font-size: 17px;
  padding: 18px 45px;
  max-width: 210px;
  color: #fff;
}
.cabinet-bonus {
  margin-top: 20px;
  width: 100%;
}
.cabinet-details {
  position: relative;
}
.info-bonus {
  color: #c0bfbf !important;
  border: 1px solid #c0bfbf;
  border-radius: 50%;
  font-size: 14px !important;
  padding: 1px 5px !important;
  cursor: pointer;
}
span .info-bonus:hover + .cabinet-popup {
  opacity: 1;
  visibility: visible;
}
.cabinet-popup {
  font-size: 13px;
  line-height: 20px;
  background: #f4f2dd;
  border-radius: 5px;
  max-width: 175px;
  padding: 10px;
  position: absolute;
  top: -11.5rem;
  left: 7rem;
  opacity: 0;
  transition: 0.25s linear all;
  visibility: hidden;
}
.cabinet-bonus_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabinet-bonus_status p {
  font-weight: bold;
  font-size: 15px;
  color: #000;
}
.cabinet-bonus_status p:nth-child(2) {
  color: var(--green-bg);
  margin-top: 3px;
}
.cabinet-bonus_level {
  font-weight: 300;
  font-size: 13px;
  color: #000;
  max-width: 233px;
  line-height: 25px;
}
.cabinet-bonus_money {
  color: var(--green-bg);
  font-size: 24px;
  font-weight: bold;
}
.cabinet-bonus_items {
  margin-top: 24px;
  max-height: 500px;
  overflow: auto;
}
.cabinet-bonus_item {
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}
.cabinet-bonus_item-name p:first-child {
  font-weight: bold;
  color: var(--green-bg);
  font-size: 15px;
}
.cabinet-bonus_item-name p:nth-child(2) {
  font-size: 13px;
  color: #000;
  margin-top: 6px;
}
.cabinet-bonus_item-info div:first-child {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}
.cabinet-bonus_item-info div p:first-child {
  font-size: 15px;
  color: var(--green-bg);
  font-weight: bold;
  margin-right: 46px;
}
.cabinet-bonus_item-info div p:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  color: var(--green-bg);
}
.cabinet-bonus_item-info p {
  font-size: 13px;
  font-weight: 300;
  color: #000;
  margin-top: 10px;
}
.cabinet-bonus_item-info p:last-child span {
  font-size: 15px;
  font-weight: bold;
}
.cabinet-content span {
  color: #000;
  font-size: 24px;
}
.purchases-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  position: relative;
  padding-bottom: 14px;
}
.purchases-top::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: #222;
  opacity: 0.21;
  position: absolute;
  bottom: 0;
}
.purchases-top span {
  color: #a7bb9f;
  font-size: 15px;
}
.purchases-items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-height: 350px;
  overflow: auto;
}
.purchases-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 20px;
}
.purchases-item::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: #222;
  opacity: 0.21;
  position: absolute;
  bottom: 0;
}
.purchases-item:last-child {
  margin-bottom: 0;
}
.purchases-item span {
  color: var(--green-bg);
  font-size: 15px;
  font-weight: bold;
}
.purchases-item p {
  font-size: 13px;
  color: #000;
}
.purchases-item h3 {
  font-size: 15px;
  font-weight: bold;
  color: var(--green-bg);
  max-width: 80px;
  text-align: center;
  flex: 1;
}
.purchases-item .purchases-cost {
  font-size: 15px;
  font-weight: bold;
  color: var(--green-bg);
}
.purchases-btn {
  font-size: 12px;
  padding: 10px 15px;
}
.password-edit {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.password-edit_btn {
  margin-top: 50px;
}
/* Страница о нас  */
.ours-page {
  padding-bottom: 100px;
}
.ours-page_banner {
  background: url("../img/ours-banner.jpg") center center/cover no-repeat;
  padding-top: 80px;
  padding-bottom: 230px;
  height: 100vh;
  position: relative;
}
.ours-page_banner h1 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
}
.ours-breadcrumbs {
  margin-top: 44px;
}
.ours-breadcrumbs,
.ours-breadcrumbs a {
  color: #fff;
}
.ours-text h2 {
  margin-top: 56px;
  color: #fff;
  font-size: 80px;
  max-width: 655px;
  /* line-height: 95px; */
  font-weight: bold;
}
.ours-text span {
  color: var(--yellow-bg);
}
.ours-text p {
  font-size: 17px;
  color: #fff;
  margin-top: 23px;
}
.ours-bottom {
  position: absolute;
  background: #fff;
  bottom: 0;
  /* padding: 38px 22px; */
  width: 80%;
  /* left: 20%;
  transform: translateX(-20%); */
}
.ours-bottom_content {
  position: relative;
  padding: 38px 22px;
}
.ours-bottom_content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ours-bottom_content p {
  max-width: 816px;
  font-size: 15px;
  color: gray;
  line-height: 25px;
}
.ours-bottom_content p b {
  font-weight: 700;
  color: #000;
}
.ours-btn {
  position: absolute;
  height: 100%;
  right: 0;
  width: 300px;
  border-radius: 0px 20px 0px 0px;
  color: #000;
}
.ours-styles {
  padding-top: 80px;
}
.ours-styles_text {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.ours-styles_text h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  max-width: 700px;
}
.ours-styles_text p {
  font-size: 13px;
  color: #4a4a4a;
  max-width: 356px;
  line-height: 25px;
}
.swiper-cond {
  max-width: 1504px;
  height: 475px;
}
.swiper-cond img {
  max-width: 100%;
}
.ours-slider {
  margin-top: 40px;
  position: relative;
}
.ours-slider .swiper-pagination {
  left: 0;
  width: initial;
  bottom: 20px;
}
.ours-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.ours-slider .swiper-pagination-bullet-active {
  background: var(--green-bg);
  width: 25px;
  border-radius: 5px;
}
.swiper-navigation {
  background: #fff;
  width: 123px;
  height: 63px;
  position: absolute;
  top: 19.5rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
  font-size: 17px;
  align-items: center;
}
.swiper-navigation div {
  cursor: pointer;
  color: #9b9b9b;
}
.swiper-navigation div:hover {
  color: var(--green-bg);
}
.swiper-navigation span {
  color: #d8d8d8;
  font-size: 40px;
}
.ours-descriptions {
  display: flex;
  margin-top: 75px;
}
.ours-descriptions p {
  max-width: 370px;
  font-size: 13px;
  line-height: 25px;
  margin-right: 30px;
}
.ours-descriptions p:last-child {
  margin-right: 0;
}
.ours-images_grid {
  align-items: flex-start;
  margin-top: 63px;
  gap: 30px;
}
.ours-images_grid img {
  max-width: 100%;
  border-radius: 10px;
}
.ours-images_grid div {
  position: relative;
}
.ours-images_grid div:first-child button {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
}
.btn-white {
  background: #fff;
  color: var(--green-bg);
  border-radius: 0;
  padding: 25px 60px;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
}
.btn-white:hover {
  background: #fff;
  color: #030303;
}
.ours_card {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f8f8f8;
}
.ours-card_top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.uncount {
  color: #f73c68;
}
.uncount i {
  font-size: 23px;
}
.card-order {
  color: #0075ff;
}
.card-order i {
  font-size: 18px;
}
.ours-card_top p {
  font-size: 13px;
  line-height: 25px;
  color: #4a4a4a;
  max-width: 395px;
}
.ours_card h2 {
  color: #000;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
}
.ours_card h2 span {
  color: var(--green-bg);
}
.ours-card_btn {
  font-size: 17px;
  color: #fff;
  padding: 21px 28px;
  margin-top: 50px;
  display: inline-block;
}
.graph img {
  max-width: 100%;
}
.bonus-card {
  padding-top: 86px;
  padding-bottom: 86px;
  background: url("../img/gift.svg") right bottom/contain no-repeat;
}
.bonus-card div h2 {
  font-weight: 700;
  color: #000;
  font-size: 50px;
  line-height: 60px;
}
.bonus-card img {
  max-width: 100%;
}
.bonus-card div p {
  margin-top: 40px;
}
.bonus-card_grid {
  align-items: flex-start;
  gap: 2px;
}
.bonus-card div ul {
  margin-top: 35px;
  color: #4a4a4a;
  font-size: 15px;
}
.bonus-card div ul li {
  margin-top: 40px;
  list-style: disc;
}
.bonus-card div ul li:first-child {
  margin-top: 0;
}
.card-page_block {
  display: flex;
  align-items: flex-end;
}
.card-page_counts p {
  color: #b4b4b4;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 13px;
}
.select-variation {
  width: 280px;
  height: 50px;
}
.card-page_variation {
  margin-left: 20px;
}
.card-page_variation p {
  color: #b4b4b4;
  font-size: 16px;
  font-weight: bold;
}
.smart-page {
  padding-top: 80px;
  padding-bottom: 95px;
}
.smart-page h1 {
  font-size: 60px;
  font-weight: bold;
}
.smart-info_grid {
  margin-top: 60px;
}
.smart-info_grid p {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  width: 800px;
}
.catering-lists {
  margin-top: 64px;
}
.catering-lists p {
  color: #9b9b9b;
  font-size: 14px;
}
.catering-list_number {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.catering-list_number span {
  font-size: 60px;
  font-weight: bold;
  color: var(--green-bg);
}
.catering-sliders {
  margin-top: 45px;
  background: url("../img/club-bg.jpg") center center/cover no-repeat;
  padding-top: 124px;
  padding-bottom: 105px;
  position: relative;
}
.catering-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-slider {
  padding: 20px 50px;
  border-radius: 0;
  margin-top: 40px;
}
.catering-slider h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.catering-prev {
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: #f4f2dd;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
.catering-prev i {
  font-size: 10px;
}
.catering-next {
  position: absolute;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: #f4f2dd;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
.catering-next i {
  font-size: 10px;
}
.catering-info {
  background: #f8f8f8;
  padding: 80px 0;
}
.catering-info_grid {
  align-items: flex-start;
  gap: 20px;
  justify-content: center;
}
.catering-info_grid p {
  font-size: 16px;
  color: #7a7a7a;
  line-height: 28px;
  max-width: 263px;
}
.catering-info_grid span {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  line-height: 42px;
}
.quickly {
  padding-top: 84px;
  background: url("../img/coffee.png") right top/auto no-repeat;
}
.quickly h2 {
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  max-width: 644px;
}
.quckly_grid {
  align-items: flex-start;
  margin-top: 61px;
  gap: 30px;
  padding-bottom: 97px;
}
.quckly_card {
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(120, 120, 120, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}
.quckly_card h3 {
  color: var(--green-bg);
  font-size: 20px;
  font-weight: bold;
}
.quckly_card p {
  font-size: 16px;
  line-height: 30px;
  margin-top: 16px;
}
.ours-clients {
  padding-top: 96px;
  padding-bottom: 95px;
  background: url("../img/clients-bg.jpg") center center/cover no-repeat;
}
.ours-clients_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ours-clients_content p {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  max-width: 726px;
}
.event-page {
  padding-top: 80px;
  padding-bottom: 87px;
}
.event-page h1 {
  font-size: 60px;
}
.event_photos {
  margin-top: 60px;
}
.events_screen {
  position: relative;
}
.event_small_photos {
  position: absolute;
  bottom: 63px;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.event_small_photos img {
  max-width: 100%;
}
.event_small_photos img {
  border: 3px solid #ffffff;
  border-radius: 6px;
  margin-right: 10px;
  /* display: block; */
  cursor: pointer;
  max-width: 140px !important;
}
.events-content {
  margin-top: 84px;
}
.events-content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.events-content_date {
  display: flex;
  align-items: center;
}
.events-content_top h2 {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  max-width: 640px;
  text-transform: uppercase;
  line-height: 38px;
}
.events-content_date p {
  font-size: 14px;
  color: #000;
  margin-bottom: 15px;
}
.events-content_date h2 {
  color: var(--green-bg);
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.events-content_date h2 span {
  font-size: 14px;
  text-transform: initial;
  margin-left: 9px;
}
.events-content_date div:first-child {
  margin-right: 50px;
}
.events-subtitle {
  margin-top: 60px;
  font-size: 20px;
  color: #000;
}
.events-description {
  margin-top: 17px;
  color: #5e5d6c;
  font-size: 15px;
  line-height: 25px;
}
.video-event {
  margin-top: 70px;
}
.list-example {
  margin-top: 43px;
}
.list-example h3 {
  color: #000;
  font-size: 20px;
  font-weight: normal;
}
.list-example ul {
  margin-top: 26px;
}
.list-example ul li {
  list-style: disc;
  color: #5e5d6c;
  font-size: 15px;
  line-height: 25px;
}
.list-example ul li:not(:first-child) {
  margin-top: 17px;
}
.event-page .container {
  overflow: initial;
}
::marker {
  color: var(--green-bg);
  font-weight: 900;
  margin-right: 10px;
}
.list-example-numbers ul li {
  list-style: decimal;
}
.events_screen img {
  max-width: 100%;
  width: 100%;
}
.contacts-page {
  padding-top: 80px;
  padding-bottom: 150px;
}
.contacts-page h1 {
  font-size: 60px;
  color: #000;
  font-weight: bold;
}
.yandex-maps {
  margin-top: 80px;
}
.contacts-information {
  margin-top: 80px;
}
.contacts_grid {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacts_grid h3 {
  font-size: 22px;
  font-weight: 700;
}
.contacts_grid p {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  margin-top: 10px;
}
.contacts_grid i {
  color: var(--green-bg);
  margin-right: 20px;
}
.social-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.social-blocks img {
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}
.contacts-subscribe {
  margin-top: 86px;
  background: url("../img/contacts-bg.jpg") center center/cover no-repeat;
  padding-top: 89px;
  padding-bottom: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.contacts-subscribe_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contacts-subscribe h2 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.contacts-subscribe_content p {
  margin-top: 20px;
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  max-width: 476px;
  font-weight: 300;
}
.contacts-subscribe_content form {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.contacts-subscribe_content input {
  background: #ffffff;
  border-radius: 2px;
  color: #7a7a7a;
  font-size: 15px;
  font-weight: 300;
  border: none;
  outline: none;
  padding: 11px 27px;
  padding-left: 20px;
  margin-right: 10px;
}
.contacts-subscribe_content input::placeholder {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: 300;
}
.btn-subscriber {
  background: #004e47;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  padding: 13px 35px;
}
/* Планшет  */
@media (max-width: 1024px) {
  .grid {
    justify-content: center;
    align-items: center;
  }
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav__menu {
    flex-direction: column;
  }
  .mobile-list {
    display: initial;
  }
  .nav__menu {
    position: absolute;
    left: 0;
    background: var(--yellow-bg);
    top: 7.3rem;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    top: 7.35rem;
    overflow-y: scroll;
  }
  .nav__menu-link {
    padding: 0px;
    color: #000;
    font-weight: 500;
    font-size: 20px;
  }
  .nav__menu-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #dad8c2;
  }
  .nav__menu-item:first-child {
    border-top: 1px solid #dad8c2;
  }
  .nav__menu-link {
    width: 100%;
    display: block;
    padding: 15px;
  }
  .nav__menu-item {
    padding-right: 0;
    margin-right: 0;
  }
  .burger {
    width: 0;
  }
  .burger-bg {
    width: 110px;
  }
  .nav__menu {
    flex-wrap: nowrap;
    height: 89vh;
    z-index: -1;
    opacity: 0;
    transform: translateY(-1000px);
    transition: 0.25s ease-in-out all;
  }
  .nav__menu.active {
    opacity: 1;
    transform: translateY(0);
  }
  .burger-bg:hover .additional-burger .popup-menu {
    display: none;
  }
  .popup-menu {
    display: none;
  }
  .container {
    padding: 0 25px;
  }
  .main-title {
    font-size: 50px;
    line-height: 68px;
    text-align: center;
  }
  .in-catalog {
    grid-row-start: 2;
  }
  .bottom-banner {
    width: initial;
    max-width: 457px;
  }
  .bottom-banner img {
    height: initial;
  }
  .progress-slider {
    height: initial;
  }
  .main-bottom {
    padding: 25px 35px;
    text-align: center;
    align-items: flex-end;
  }
  .btn-nav {
    display: none;
  }
  .big-btn {
    padding: 35px 35px;
  }
  .main-title {
    margin-bottom: 100px;
  }
  .category-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .category-item {
    display: flex;
    flex-direction: column;
  }
  .category-item:first-child {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .category-top {
    justify-content: center;
  }
  .new-items_top {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .tabs {
    margin-top: 25px;
    align-items: center;
  }
  .card-item_name {
    text-align: center;
  }
  .card-item {
    text-align: center;
  }
  .event-content-more::before {
    left: 0;
  }
  .article img {
    max-width: 100%;
  }
  .article {
    text-align: center;
  }
  .articles_grid {
    gap: 25px;
  }
  .link {
    font-size: 16px;
  }
  .promo-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .promo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .promo-grid .promo-block:nth-child(2) {
    margin-top: 0;
  }
  .pagination {
    margin-top: 150px;
    justify-content: center;
  }
  .company-grid {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .company-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .promo-grid .promo-block:nth-child(3) {
    margin-top: 0;
  }
  .promo-grid .promo-block:first-child {
    margin-top: 50px;
  }
  .club {
    background: url(../img/club.jpg) center center/cover no-repeat;
  }
  .title {
    text-align: center;
  }
  .catering-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .photo_date {
    max-width: initial;
  }
  .main-event {
    max-width: initial;
  }
  .additional-event img {
    max-width: 100%;
  }
  .event-content-title {
    margin-top: 35px;
    text-align: center;
  }
  .event-content-subtitle {
    text-align: center;
  }
  .event-content-descr {
    text-align: center;
  }
  .event-content-more {
    text-align: center;
    font-size: 18px;
  }
  .mobile-hide {
    display: initial;
  }
  .btn-nav {
    position: fixed;
    bottom: 2rem;
    border-radius: 50%;
    background: var(--green-bg);
    padding: 20px 22px;
    font-size: 20px;
    color: #fff;
    right: 3rem;
  }
  .sign-up .icon-signup {
    font-size: 25px;
  }
  .filter-items_grid {
    grid-column: initial;
  }
  .catalog-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .filter-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: initial;
  }
  .card-page_grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card-page_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card-page_photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }
  .card-page_mainPhoto {
    max-width: 100%;
  }
  .card-page_mainPhoto {
    align-self: center;
  }
  .btn-buy {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .card-page_buttons {
    width: 100%;
    flex-direction: column;
  }
  .btn-card_page {
    max-width: initial;
    width: 100%;
  }
  .awards-main_bg {
    max-width: 100%;
  }
  .awards-main_bg img {
    width: 100%;
  }
  .awards-info {
    position: initial;
    margin-top: 30px;
    margin-right: 0;
    max-width: initial;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
  }
  .awards-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .awards-bottom {
    flex-direction: column;
  }
  .ours-bottom {
    width: 100%;
  }
  .ours-bottom_content {
    padding-bottom: 0;
  }
  .ours-btn {
    position: initial;
    width: 45%;
    padding: 27px 8px;
    margin-top: 20px;
  }
  .ours-bottom_content .container {
    flex-direction: column;
  }
  .ours-bottom_content p {
    text-align: center;
  }
  .swiper-navigation {
    left: 50%;
    transform: translateX(-50%);
  }
  .ours-styles_text {
    flex-direction: column;
    text-align: center;
  }
  .ours-styles_text p {
    margin-top: 20px;
  }
  .ours-slider .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
  }
  .ours-descriptions {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ours-descriptions p {
    margin-top: 13px;
  }
  .ours-descriptions p:first-child {
    margin-top: 0;
  }
  .ours-card_top {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ours_card h2 {
    font-size: 45px;
    line-height: 55px;
  }
  .ours-card_top p {
    margin-top: 15px;
  }
  .ours-card_btn {
    width: 100%;
    text-align: center;
  }
  .graph {
    margin-top: 70px;
  }
  .bonus-card_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .bonus-card_grid div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bonus-card_grid div:first-child p {
    font-size: 15px;
  }
  .bonus-card div h2 {
    margin-top: 30px;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
  }
  .bonus-card div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cabinet-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .cabinet-content {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 0px;
    margin-top: 60px;
  }
  .cabinet-position {
    top: initial;
    position: initial;
  }
  .cabinet-tab p span {
    display: none;
  }
  .cabinet-tab i {
    margin-right: 0;
    font-size: 27px;
  }
  .cabinet-tabs {
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    justify-content: space-around;
    flex-direction: row;
  }
  .cabinet-tab {
    border-radius: 3px;
  }
  .card-page_block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card-page_counts {
    margin-bottom: 40px;
  }
  .smart-info_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .smart-info_grid p {
    width: initial;
    text-align: center;
  }
  .smart-info_grid img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }
  .smart-page h1 {
    text-align: center;
  }
  .smart-breadcrumbs {
    justify-content: center;
  }
  .catering-lists {
    text-align: center;
  }
  .catering-info_grid {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .catering-info_grid p {
    max-width: initial;
  }
  .quickly h2 {
    text-align: center;
    max-width: initial;
  }
  .quickly {
    background: none;
  }
  .event_small_photos {
    position: initial;
    flex-wrap: wrap;
    transform: initial;
  }
  .events-content_top {
    flex-direction: column;
    text-align: center;
  }
  .events-content_date {
    margin-top: 20px;
  }
  .events-subtitle {
    text-align: center;
  }
  .events-description {
    text-align: center;
  }
  .list-example h3 {
    text-align: center;
  }
  /* .list-example ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  } */
}
.contacts_grid {
  gap: 30px;
}
/* Мобильная адаптация  */
@media (max-width: 767px) {
  .container {
    padding: 0 8px;
  }
  .grid,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav__menu {
    height: 85vh;
  }
  .bottom-banner {
    display: none;
  }
  .bottom-first-content {
    display: none;
  }
  .main-title {
    font-size: 43px;
    line-height: 58px;
  }
  .main-bottom {
    padding: 0 10px;
    padding-bottom: 8px;
    padding-top: 25px;
  }
  .progress-slider {
    padding: 35px 20px;
  }
  .category-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
  }
  .category-grid .category-item:nth-child(2),
  .category-grid .category-item:nth-child(3) {
    max-width: 100%;
    width: initial;
    background-size: 35% 35%;
    background-position: right;
    background-position-y: bottom;
  }
  .new-items_top {
    flex-direction: column;
  }
  .promo-block img {
    max-width: 100%;
  }
  .tabs {
    flex-wrap: wrap;
  }
  .tab {
    margin-bottom: 10px;
    padding: 11px 11px;
    margin-right: 10px;
  }
  .card-item_img {
    max-width: 100%;
  }
  .tab:last-child {
    margin-top: 0;
  }
  .additional-event img {
    max-width: 118px;
  }
  .event-date {
    justify-content: space-between;
    align-items: center;
  }
  .event-numbber h3 {
    font-size: 23px;
  }
  .articles_grid {
    gap: 35px;
  }
  .promo {
    padding-top: 40px;
  }
  .footer-social {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .footer-social div {
    margin-right: 15;
    margin-bottom: 25px;
  }
  .footer-bottom-content {
    flex-direction: column;
  }
  .footer-bottom p,
  .policy {
    margin-bottom: 18px;
  }
  .footer-bottom p:last-child {
    margin-bottom: 0;
  }
  .card-item_buttons {
    flex-direction: column;
  }
  .card-btn {
    font-size: 15px;
  }
  .sort {
    margin-top: 30px;
  }
  .filter-items_grid {
    gap: 30px;
  }
  .promo-page_timer h2 {
    font-size: 50px;
    text-align: center;
  }
  .timer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .timer div {
    display: flex;
  }
  .timer p {
    font-size: 30px;
  }
  .timer p::after {
    font-size: 30px;
    display: none;
  }
  .timer div {
    margin-top: 20px;
    margin-right: 20px;
  }
  .timer div:last-child {
    margin-right: 0;
  }
  .timer div:nth-child(3) {
    margin-right: 0;
  }
  .awards-users {
    overflow: scroll;
    width: 100%;
  }
  .user {
    display: none;
  }
  .cart-user {
    margin-right: 0;
  }
  .ours-page_banner h1 {
    text-align: center;
  }
  .ours-breadcrumbs {
    justify-content: center;
  }
  .ours-text h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
  }
  .ours-text p {
    text-align: center;
    line-height: 27px;
    margin-top: 30px;
  }
  .ours-bottom {
    display: none;
  }
  .ours_card h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .ours-card_btn {
    font-size: 13px;
  }
  .bonus-card_grid div:first-child p {
    text-align: center;
  }
  .bonus-card div h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .bonus-card div ul {
    text-align: center;
  }
  .bonus-card div ul li {
    font-size: 15px;
    max-width: 90%;
    line-height: 20px;
  }
  .cabinet-tab i {
    font-size: 20px;
  }
  .cabinet-tab {
    padding: 20px 27px;
  }
  .cabinet-details {
    align-items: center;
  }
  .btn-cabinet {
    margin: 0 auto;
  }
  .cabinet-input {
    text-align: center;
  }
  .cabinet-page h1 {
    text-align: center;
  }
  .breadcrumbs {
    justify-content: center;
  }
  .sort {
    justify-content: center;
  }
  .catalog h1 {
    text-align: center;
  }
  .cart h1 {
    text-align: center;
  }
  .cart-counts {
    text-align: center;
  }
  .cart-item {
    flex-direction: column;
  }
  .cart-item_info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cart-top {
    display: none;
  }
  .cart-item_info-text h3 {
    margin-top: 15px;
  }
  .cart-item_info-text span {
    margin-top: 10px;
  }
  .cart-item_info-text {
    margin-left: 0;
  }
  .cart-item_info-text span {
    margin: 0 auto;
    margin-top: 20px;
  }
  .cart-count-control {
    flex-direction: column;
  }
  .cart-item_cost {
    margin-top: 15px;
  }
  .cart-count-control {
    margin-top: 25px;
  }
  .cart-total_main {
    font-size: 30px;
  }
  .cart-total div:nth-child(2) p:nth-child(2) {
    font-size: 30px;
  }
  .cart-total_right {
    font-size: 25px;
  }
  .cart-total_delivery p:nth-child(2) {
    font-size: 30px;
  }
  .cart-total_bottom {
    font-size: 30px;
  }
  .cart-total_btn {
    margin-right: 0;
  }
  .cart-total_btn {
    width: 100%;
  }
  .btn-outline {
    margin-top: 10px;
  }
  .cart-total_buttons {
    flex-direction: column;
  }
  .contacts-input {
    flex: 0 1 100%;
  }
  .contacts-input {
    flex: 0 1 100% !important;
  }
  .cart-contacts p {
    text-align: center;
  }
  .btn-contacts {
    width: 100%;
  }
  .cabinet-bonus_top {
    flex-direction: column;
    text-align: center;
  }
  .cabinet-bonus_top p {
    margin-bottom: 10px;
  }
  .cabinet-bonus_item {
    flex-direction: column;
  }
  .cabinet-bonus_item-name {
    text-align: center;
  }
  .cabinet-bonus_item-info div:first-child {
    margin-top: 15px;
    justify-content: space-between;
  }
  .cabinet-bonus_item-info p {
    text-align: center;
  }
  .cabinet-bonus_item-info p:last-child span {
    margin-top: 10px;
    display: block;
  }
  .purchases-item {
    flex-direction: column;
  }
  .purchases-item span {
    margin-bottom: 10px;
  }
  .purchases-item p {
    margin-bottom: 10px;
  }
  .purchases-item h3 {
    margin-bottom: 10px;
  }
  .purchases-btn {
    width: 100%;
    text-align: center;
  }
  .purchases-top {
    display: none;
  }
  .catering-prev {
    left: 1rem;
  }
  .catering-next {
    right: 1rem;
  }
  .catering-slider h2 {
    text-align: center;
    margin-bottom: 50px;
    line-height: 35px;
  }
  .event-page h1 {
    font-size: 50px;
    text-align: center;
  }
  .events-content_date {
    flex-direction: column;
    justify-content: center;
  }
  .events-content_date div:first-child {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .video-event {
    transform: scale(0.9);
  }
  .list-example-numbers ul li {
    text-align: center;
  }
  .list-example ul {
    padding-left: 15px;
  }
  .contacts-page h1 {
    text-align: center;
    font-size: 50px;
  }
  .contacts-subscribe_content form {
    flex-direction: column;
  }
  .contacts-subscribe_content input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .contacts-subscribe_content form {
    width: 90%;
  }
  .btn-subscriber {
    width: 100%;
  }
  #cooking {
    left: 45%;
    top: 2rem !important;
    width: 61vh !important;
    height: 63vh !important;
    transform: translateX(-50%);
  }
}
.submenu {
  display: none;
}
.submenu {
  opacity: 0;
  transform: scaleY(0);
  transition: 0.25s linear all;
  transform-origin: top center;
  background: var(--btn-yellow-hover);
}
.mobile-list.active + .submenu {
  opacity: 1;
  transform: scaleY(1);
  display: initial;
}
.mobile-list i {
  font-size: 17px;
  opacity: 0.5;
  transform: rotate(-90deg);
  transition: 0.15s ease-in all;
}
.mobile-list.active i {
  transform: rotate(90deg);
}

.url-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Лоадер  */
.cooking-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  /* background: ; */
  background: var(--yellow-bg);
  z-index: 100;
  transition: 0.5s linear all;
}
#cooking {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}
#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #4d4d4d;
  opacity: 0;
}
#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #454545;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #3d3d3d;
  animation: bubble 2s ease-in-out 0.35s infinite;
}
#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #333;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}
#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}
#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}
#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}
#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #333;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #333;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}
#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}
#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #333;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-27deg);
  }
  30%,
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(27deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}
@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
}
