@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-BoldItalic.eot");
  src: local("../fonts/Gotham Pro Bold Italic"), local("GothamPro-BoldItalic"),
    url("../fonts/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-BoldItalic.woff") format("woff"),
    url("../fonts/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Italic.eot");
  src: local("../fonts/Gotham Pro Italic"), local("GothamPro-Italic"),
    url("../fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Italic.woff") format("woff"),
    url("../fonts/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"),
    url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Medium.woff") format("woff"),
    url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-BlackItalic.eot");
  src: local("../fonts/Gotham Pro Black Italic"), local("GothamPro-BlackItalic"),
    url("../fonts/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-BlackItalic.woff") format("woff"),
    url("../fonts/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("../fonts/Gotham Pro Bold"), local("GothamPro-Bold"),
    url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Bold.woff") format("woff"),
    url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Narrow";
  src: url("../fonts/GothamProNarrow-Bold.eot");
  src: local("../fonts/Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"),
    url("../fonts/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProNarrow-Bold.woff") format("woff"),
    url("../fonts/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Narrow";
  src: url("../fonts/GothamProNarrow-Medium.eot");
  src: local("../fonts/Gotham Pro Narrow Medium"),
    local("GothamProNarrow-Medium"),
    url("../fonts/GothamProNarrow-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GothamProNarrow-Medium.woff") format("woff"),
    url("../fonts/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-LightItalic.eot");
  src: local("../fonts/Gotham Pro Light Italic"), local("GothamPro-LightItalic"),
    url("../fonts/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-LightItalic.woff") format("woff"),
    url("../fonts/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"),
    url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Light.woff") format("woff"),
    url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Black.eot");
  src: local("../fonts/Gotham Pro Black"), local("GothamPro-Black"),
    url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Black.woff") format("woff"),
    url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.eot");
  src: local("../fonts/Gotham Pro"), local("GothamPro"),
    url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro.woff") format("woff"),
    url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-MediumItalic.eot");
  src: local("../fonts/Gotham Pro Medium Italic"),
    local("GothamPro-MediumItalic"),
    url("../fonts/GothamPro-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GothamPro-MediumItalic.woff") format("woff"),
    url("../fonts/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Иконки  */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?a2s5w5");
  src: url("../fonts/icomoon.eot?a2s5w5#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?a2s5w5") format("truetype"),
    url("../fonts/icomoon.woff?a2s5w5") format("woff"),
    url("../fonts/icomoon.svg?a2s5w5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-edit:before {
  content: "\e915";
}
.icon-clear:before {
  content: "\e914";
}
.icon-address:before {
  content: "\e900";
  color: #004e47;
}
.icon-arrow:before {
  content: "\e901";
}
.icon-bonus:before {
  content: "\e902";
}
.icon-card:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
  /* color: #fff; */
}
.icon-coffee:before {
  content: "\e906";
  color: #fff;
}
.icon-facebook:before {
  content: "\e907";
  color: #fff;
}
.icon-instagram:before {
  content: "\e908";
  color: #fff;
}
.icon-main-cart:before {
  content: "\e909";
}
.icon-monets:before {
  content: "\e90a";
}
.icon-money:before {
  content: "\e90b";
  color: #004e47;
}
.icon-password:before {
  content: "\e90c";
}
.icon-repost:before {
  content: "\e90d";
  color: #004e47;
}
.icon-signup:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
  color: #004e47;
}
.icon-vk:before {
  content: "\e910";
  color: #fff;
}
.icon-telephone:before {
  content: "\e905";
}
.icon-left:before {
  content: "\e911";
}
.icon-right:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
  color: #004e47;
}
